



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For men</title>

    <link href="~/Theme/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="~/Theme/css/style.css" rel="stylesheet" />

</head>
<body>
    <header>
        <div class="menu">
            <div class="for-boy">
                <a href="~/">NATURE</a>
            </div>
            <div class="for-men">
                <a href="~/Home/NiceHouse" class="curent">NICE HOUSE</a>
            </div>
            <div class="for-girl">
                <a href="~/Home/LovelyAnimals">LOVELY ANIMALS</a>
            </div>
            <div class="for-girl">
                <a href="~/Admin/Account/Login">LOGIN</a>
            </div>
        </div>
    </header>
    <div class="content">
        @RenderBody()
    </div>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>

    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>