
@{
    ViewBag.Title = "LovelyAnimals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LovelyAnimals</h2>
<br />

<a>abc</a>

<a data-fancybox="gallery" href="~/Theme/img/fb/a2.jpg" data-caption="Caption for single image"><img src="~/Theme/img/fb/a1.jpg" alt=""></a>
<a data-fancybox="gallery" href="~/Theme/img/fb/a2.jpg"><img src="~/Theme/img/fb/a2.jpg" alt=""></a>
<a data-fancybox="gallery" href="img/fb/a3.jpg"><img src="img/fb/a3.jpg" alt=""></a>
<a data-fancybox="gallery" href="img/fb/a4.jpg" data-caption="Caption for single image"><img src="img/fb/a4.jpg" alt=""></a>
<a data-fancybox="gallery" href="img/fb/a5.jpg"><img src="img/fb/a5.jpg" alt=""></a>
<a data-fancybox="gallery" href="img/fb/a6.jpg"><img src="img/fb/a6.jpg" alt=""></a>
