@model IEnumerable<WebGiaiTrii.Models.Nature>

@{ ViewBag.Title = "Nature ";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


@foreach (var item in Model)
{

<a data-fancybox="gallery" href="/Home/NatureDetail/@item.ID" data-caption="Caption for single image"><img src="@item.Image" alt=""></a>

}