@model IEnumerable<WebGiaiTrii.Models.House>

@{ ViewBag.Title = "NiceHouse";
    Layout = "~/Views/Shared/_Layout.cshtml"; }





@foreach (var item in Model)
{

 <a data-fancybox="gallery" href="/Home/NiceHouseDetail/@item.ID" data-caption="Caption for single image"><img src="@item.Image" alt=""></a>
                }