
@{ Layout = null; }




<!DOCTYPE html>
<html>
<head>
    <title>Đăng nhập vào trang quản trị </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Areas/Admin/MauMe/csshomeadmin/assets/css.css" rel="stylesheet" />
    <link href="~/Areas/Admin/MauMe/csshomeadmin/assets/css/stylee.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="~/Areas/Admin/MauMe/cssloginadmin/login.css" rel="stylesheet" />
</head>
<body>
    <div class="login">
        <h2 id="txt">Đăng Nhập</h2>




        <form class="login" action="" method="post">
            <p style="color:red">
                @TempData["error"]
            </p>
            <div class="inputBox">
                <input id="inp1" type="text" name="user" placeholder="Tên Đăng Nhập">
            </div>
            <div class="inputBox">
                <input id="inp2" type="password" name="password" placeholder="Mật khẩu">
            </div>
            <div class="inputButton">
                <input id="btn" type="submit" value="Đăng nhập">

            </div>
        </form>
        <div class="register">
            <a href="~/Admin/HomeAdmin/DangKy">Đăng ký</a>
            <a href="#">Quên mật khẩu</a>
        </div>



    </div>
    <div class="colors">
        <span class="active" onclick="clickColors('#33FFCC')" style="--clr:#33FFCC;"></span>
        <span onclick="clickColors('#99CCFF')" style="--clr:#99CCFF;"></span>
        <span onclick="clickColors('#F29388')" style="--clr:#F29388;"></span>
        <span onclick="clickColors('#F7E0BA')" style="--clr:#F7E0BA;"></span>
    </div>
</body>
<script>var btn = document.getElementById('btn')
    var inp1 = document.getElementById('inp1')
    var inp2 = document.getElementById('inp2')
    function clickColors(color) {
        document.body.style.background = color;
        btn.style.background = color;
        inp1.style.borderColor = color;
        inp2.style.borderColor = color;

        document.querySelectorAll('span').forEach(function
            (item) {
            item.classList.remove('active');
        })
        event.target.classList.add('active');
    }</script>

</html>